.logo{
    border-radius: 50%;
}
header{
    background-image: url('./asset/lion-bg.jpg');   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    color: aliceblue;
    position: relative;
    
}
.center-box{
    position: absolute;
    color: aliceblue;
    height: 100%;
    width: 100%;
   
}
/* .card-box img{
    width: 150px;
} */
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
<<<<<<< HEAD
 
=======
  
>>>>>>> 332f77f1ed9e028de03d3dc7bf5cdcf4f344f8d8
    overflow: hidden;
    padding: 25px;
    
    

}



.card :hover{
    transform: scale(1.15);
<<<<<<< HEAD
    transition: 0.3s;
}
=======
      transition: 0.3s;
    
}
>>>>>>> 332f77f1ed9e028de03d3dc7bf5cdcf4f344f8d8
